
  
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABOUT-US</title>
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
  </head>
  <body>
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>We are TEXAS </p>
      <p>We provide online access to Amazon</p>
    </div>
    
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/static/images/virat.jpeg" alt="Virat" style="width:100%">
          <div class="container">
            <h2>Virat Kohli</h2>
            <p class="title">CEO</p>
            <p>Happy to be part of TEXAS MART.</p>
            <p>virate18@texas.com</p>
            <p><a href="https://www.facebook.com/virat.kohli"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/static/images/rahul.jpg" alt="rahul" style="width:106%">
          <div class="container">
            <h2>Rahul Dravid</h2>
            <p class="title">Art Director</p>
            <p>Becomeing an art director is not an easy task thanks for oppurtunity.</p>
            <p>rahul33@texas.com


              
            </p>


            
            <p><a href="https://www.facebook.com/rahuldravid"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/static/images/ms.jpg" alt="KEVIN" style="width:85%">
          <div class="container">
            <h2>Ms Dhoni</h2>
            <p class="title">Designer</p>
            <p>Designing is an art and I am the finisher in it.</p>
            <p>ms2000@texas.com</p>
            <p><a href="https://www.facebook.com/MSDhoni"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>