<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>TEXAS Eommerce Website</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
			
</head>
<body>

	

	
	<div class="small-container">
		<h2 class="title">Featured Products</h2>
		<div class="row">
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=puma+red+t+shirt&crid=7LQZV5B3MY9E&sprefix=puma+red+t+shir%2Caps%2C1051&ref=nb_sb_noss_2"><img src="/static/images/product-1.jpg"></a>
				<h4>Red Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=good+looking+shoes&crid=3NGPOFDZP4ICM&sprefix=good+looking+shoes+f%2Caps%2C510&ref=nb_sb_noss_2"><img src="/static/images/product-2.jpg"></a>
				<h4>GOOD LOOKING SHOE</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=2+in+1+pant&crid=VXDD727TT6ED&sprefix=2+in+1+pant+%2Caps%2C409&ref=nb_sb_noss_2"><img src="/static/images/product-3.jpg"></a>
				<h4>2 IN 1 PANTS</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=puma+blue+tshirt&sprefix=puma+blue+t%2Caps%2C573&ref=nb_sb_ss_ts-doa-p_1_11"><img src="/static/images/product-4.jpg"></a>
				<h4>BLUE Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-half-o"></i>

				</div>
				<p>$50.00</p>
			</div>
		</div>




		<h2 class="title">Latest Product</h2>

		<div class="row">
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=trending+sneakers&sprefix=tranding+sn%2Caps%2C339&ref=nb_sb_ss_sc_1_11"><img src="/static/images/product-5.jpg"></a>
				 
				<h4>TRENDING SNEKERS</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=puma+black+printed+tshirt+for+men&sprefix=black+printed+tshirt+pum%2Caps%2C315&ref=nb_sb_ss_ts-doa-p_1_24"><img src="/static/images/product-6.jpg"></a>
				<h4>BLACK Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=pair+of+socks&sprefix=pair+of+so%2Caps%2C331&ref=nb_sb_ss_ts-doa-p_1_10"><img src="/static/images/product-7.jpg"></a>
				<h4>PAIR OF SOCKS</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=fossil+watches+for+men&sprefix=fos%2Caps%2C438&ref=nb_sb_ss_ts-doa-p_1_3"><img src="/static/images/product-8.jpg"></a>
				<h4>FOSSILE</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-half-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=watches+for+men&crid=152XHNP80P4IN&sprefix=watches+for+men%2Caps%2C302&ref=nb_sb_noss_1"><img src="/static/images/product-9.jpg"></a>
				<h4>WATCHES FOR MEN</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=sparks+shoes&sprefix=sparks+%2Caps%2C333&ref=nb_sb_ss_ts-doa-p_1_7"><img src="/static/images/product-10.jpg"></a>
				<h4>SPARKS COMFORT SHOES</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=men+footware&rh=n%3A1983519031&ref=nb_sb_noss"><img src="/static/images/product-11.jpg"></a>
				<h4>MEN FOOTWARE</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-o"></i>

				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<a href="https://www.amazon.in/s?k=nike+gym&crid=S7M5J9JUSCMM&sprefix=nike+%2Caps%2C1529&ref=nb_sb_noss_2"><img src="/static/images/product-12.jpg"></a>
				<h4>NIKE GYM WARE</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fas fa-star-half-o"></i>

				</div>
				<p>$50.00</p>
			</div>
		</div>


	</div>	


	<div class="offer">
		<div class="small-container">
			<div class="row">
				<div class="col-2">
					<img src="/static/images/exclusive.png" class="offer-img">
				</div>
				<div class="col-2">
					<p>Exclusively Available on HappyMart</p>
					<h1>Smart Band 4</h1>
					<small>The Mi Smart Band 4 fatures a 39.9% AMOLED Clor full-touch display with adjustable brightness, so everything is clear as can be.
					</small>
					<a href="https://www.amazon.in/Sounce-Adjustable-Xiaomi-Silicone-Bracelet/dp/B089QR78FR/ref=sr_1_1?crid=YDKD5N7TQ1YE&keywords=mi+smart+band+4&qid=1675676632&sprefix=mi+smart+band+%2Caps%2C315&sr=8-1" class="btn">Buy Now &#8594;</a>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="brands">
		<div class="small-container">
			<div class="row">
				<div class="col-5">
					<a href="https://www.godrej.com/"><img src="/static/images/logo-godrej.png"></a>
				</div>
				<div class="col-5">
					<a href="https://www.oppo.com/in/?gclid=Cj0KCQiA54KfBhCKARIsAJzSrdriUDTll1E5W0aiSH7tjEbGLyezZwHUWqHE7ohMdl8oblD4a2H8YQ0aAsc8EALw_wcB"><img src="/static/images/logo-oppo.png"></a>
				</div>
				<div class="col-5">
					<a href="https://www.coca-colacompany.com/"><img src="/static/images/logo-coca-cola.png"></a>
				</div>
				<div class="col-5">
					<a href="https://www.paypal.com/in/home"><img src="/static/images/logo-paypal.png"></a>
				</div>		
				<div class="col-5">
					<a href="https://www.philips.co.in/"><img src="/static/images/logo-philips.png"></a>
				</div>	
			</div>
			
		</div>
		
	</div>


	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Download Our App</h3>
					<p>Download App for Andriod and ios mobile phone.</p>
					<div class="app-logo">
						<a href="https://play.google.com/store/games"><img src="/static/images/play-store.png"></a>
						<a href="https://www.apple.com/in/app-store/"><img src="/static/images/app-store.png"></a>
					</div>
					
				</div>
				<div class="footer-col-2">
					<img src="/static/images/gowda.jpg">
					<p>Our Purpose Is To Sustainably Make the Pleasure and Benfits of Sports Accessible to the many.</p>
					
				</div>
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>Coupons</li>
						<li>Blog Post</li>
						<li>Return Policy</li>
						<li>Join Affiliate</li>
						
					</ul>
					
				</div>
				<div class="footer-col-4">
					<h3>Follow us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>YouTube</li>
						
					</ul>
					
				</div>
			</div>
			<hr>
			<p class="copyright">Copyright 2022 -K H GOWDA</p>
		</div>
	</div>
	<script>
		var MenuItems = document.getElementById("MenuItems");

		MenuItems.style.maxheight = "0px";
		function menutoggle(){
			if(MenuItems.style.maxheight == "0px")
			{
				MenuItems.style.maxheight = "200px";
			}
			else
			{
				MenuItems.style.maxheight = "0px";
			}

		} 
	</script>
</body>
</html>